@import "tailwindcss";

:root {
  --brand: #2465c9;
  --brand-light: #3b7bdb;
  --text-light: #2465c9;
  --brand-secondary: #0f172a;
  --brand-secondary-dark: #050c1b;
}

body {
  font-family: "Cairo", sans-serif;
}
